body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
  }
  
  
  .carousel-inner img {
    width: 100%;
    height: 50%;
}

   
.text-divider{margin: 2em 0; line-height: 0; text-align: center;}
 
    .text-divider:before{
      content: " ";
       display: block; 
       border-top: 3px solid #e3e3e3;
        border-bottom: 1px solid #f7f7f7;
     }

     .container {
      padding: 80px 120px;
    }
    .person {
      border: 10px solid transparent;
      margin-bottom: 25px;
      width: 80%;
      height: 80%;
      opacity: 0.7;
    }
    .person:hover {
      border-color: #f1f1f1;
    }
    .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;
    }
    .carousel-caption h3 {
      color: #fff !important;
    }
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
      }
    }
    .bg-1 {
      background: #2d2d30;
      color: #bdbdbd;
    }
    .bg-1 h3 {color: #fff;}
    .bg-1 p {font-style: italic;}
       
 .spce {
  margin-top:60px;
   }
   .align-middle{
       text-align: center
   }

.h8
{
  height: 319px;
 padding-top:30px ;
  
 
}
.button4 {border-radius: 12px;}
 

.align-middle{
       text-align: center
   }
   .vl {
border-left: 1px solid black;
height: 100px;
  
} 

.fa {
  padding: 20px 20px 20px 20px;
  padding-right: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 7px 7px 7px;
  border-radius: 70%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
 

.badge  
{
  background-color: rgb(243, 240, 240);
  color: rgb(71, 66, 66);
  border-radius: 0%;
  font-size:17px;
}
 .h1
 {
   font-size: 99;
  
 } 
 .brdr
 {
   padding: 50px 20px 20px;
   border-radius:50px; 
 }